<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exp.mapper.UserMapper">

    <!-- 书籍查询 -->
    <select id="bookList" resultType="com.exp.pojo.Book">
        select tb_book.*, tc.name as class_name
        from tb_book join tb_class tc on tc.id = tb_book.class_id
        <where>
            <if test="name != null and name != ''">tb_book.name like concat('%', #{name}, '%')</if>
            <if test="author != null and author != ''">and author like concat('%', #{author}, '%')</if>
            <if test="className != null and className != ''">and tc.name like concat('%', #{className}, '%')</if>
            <if test="press != null and press != ''">and press like concat('%', #{press}, '%')</if>
            <if test="language != null and language != ''">and language like concat('%', #{language}, '%')</if>
            <if test="lowerPrice != null and upperPrice != null">and price between #{lowerPrice} and #{upperPrice}</if>
            <if test="beginPubDate != null and endPubDate != null">and pub_date between #{beginPubDate} and#{endPubDate}
            </if>
        </where>
        order by stars desc, lend_frequency desc, update_time desc
    </select>

    <!-- 更新用户信息 -->
    <update id="updateUser">update tb_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 设置已读 -->
    <update id="setIsRead">update tb_notification
        set is_read = 1
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <!-- "删除" -->
    <update id="setIsVisual">update tb_notification
        set is_visual = 0
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <!-- 根据书籍ID列表查询书籍信息 -->
    <select id="bookListByIds" resultType="com.exp.pojo.Book" parameterType="java.util.List">
        select *
        from tb_book
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>


</mapper>